body {
    font-family: sans-serif;
    background-color: lightgray;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 140px;
    padding-left: 40px;
    padding-right: 40px;
}

.side-bar {
    background-color: rgb(14, 61, 101);
    position: fixed;
    top: 0px;
    height: 120%;
    width: 2%;
}

#left-bar {
    left: 0px;
    box-shadow: 2px 0px 20px black;
}

#right-bar {
    right: 0px;
    box-shadow: -2px 0px 20px black;
}

#bear-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

#top-bar {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 120px;
    background-color: rgb(240,240,240);
    box-shadow: 0px 4px 20px black;
}

#poster {
    text-align: center;
    margin: 1in;
    padding: 20px;
    margin: 20px;
    background-color: tan;
    border: 2px solid gray;
    font-family: impact;
    box-shadow: 20px 20px 30px black;
}

main {
    background-color: antiquewhite;
    padding: 20px;
    margin: 20px;
    border: 2px solid gray;
}

footer {
    background-color: antiquewhite;
    padding: 20px;
    margin: 20px;
    border: 2px solid gray;
}

header {
    text-align: center;
    padding: 20px;
    margin: 20px;
    background-color: antiquewhite;
    border: 2px solid gray;
}

section {
    margin: 20px;
    padding: 20px;
    float: left;
}

footer {
    clear: both;
    margin: 20px;
    padding: 20px;
}

aside {
    background-color: antiquewhite;
    font-size: 22px;
    padding: 20px;
    margin-top: 120px;
    border: 2px solid gray;
    float: right;
    width: 30%;
}