#poster {
    text-align: center;
    margin: 1in;
    padding: 20px;
    margin: 20px;
    background-color: tan;
    border: 5px solid black;
    font-family: impact;
    box-shadow: 20px 20px 30px black;
}

main {
    background-color: antiquewhite;
    padding: 20px;
    margin: 20px;
    border: 2px solid gray;
}

footer {
    background-color: antiquewhite;
    padding: 20px;
    margin: 20px;
    border: 2px solid gray;
}

#poster-header {
    text-align: center;
    padding: 20px;
    margin: 20px;
    background-color: antiquewhite;
    border: 2px solid gray;
}

section {
    margin: 20px;
    padding: 20px;
    float: left;
}

footer {
    clear: both;
    margin: 20px;
    padding: 20px;
}

aside {
    background-color: antiquewhite;
    font-size: 22px;
    padding: 20px;
    margin-top: 180px;
    border: 2px solid gray;
    float: right;
    width: 30%;
}